@import './../styles/variables';

.gradientButton {
  display: inline-block;
  padding: 4px;
  background: $gradientReverse;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.55rem 3rem;
  border: 4px solid black;
}

@media screen and (max-width: 768px) {
  .mobileTitle {
    font-size: 1.75rem !important;
  }

  .levelBlock {
    display: block !important;
  }

  .mobileHero {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.fakeJob {
  position: relative;
  background: $gradient;
  display: block;
  width: 100%;
  height: 100%;
}

.year {
  &:before {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    height: 1px;
    width: 3rem;
    position: absolute;
    top: 3.65rem;
    left: 0;
  }
}
