@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,900');

$family-sans-serif: 'Poppins', sans-serif;
$purple: #8af6cc;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

$gradient: linear-gradient(to right, #d1bbfd, #51c9f6);
