@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,900');

$family-sans-serif: 'Poppins', sans-serif;
$blue: #51c9f6;
$purple: #d1bbfd;
$primary: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

$gradient: linear-gradient(to right, $purple, $blue);
