.link {
  margin-right: 4rem;
}

.levelBlock {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .mobileTitle {
    font-size: 1.75rem !important;
  }

  .levelBlock {
    display: block !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .mobileMargin {
    display: block !important;
    margin-bottom: 1rem !important;
  }

  .link {
    display: block;
    margin-bottom: 1rem;
  }
}
